*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 16rem;
    background: linear-gradient(to right, #82878E 0%, #6D7172 50%, #505151 100%);
}


/* Estilos principales del reloj */

.reloj{
    width: 400px;
    background: linear-gradient(to right, #240b36, #c31432);
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    user-select: none;
}

.reloj .dia{
    font-size: 20px;  
}

.reloj .mes{
    font-size: 40px;  
}


.reloj .hora{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.reloj .hora p{
    font-size: 50px;
    background-color: #240b36;
    padding: 10px;
    margin: 0px 5px;
    border: 1px solid #ffffff;
}

